.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box-outer {
  border-radius: 0;
}
.page, page[size=A4] {
  height: 27.5cm!important;
  width: 21cm!important;
}
.page {
  background: #fff;
  display: block;
  margin: 0 auto;
}
.pdf-images{
  position: relative;
}
.pdf-images img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.box-outer {
  border: 1px solid #f1eeee;
  padding: 1.875rem;
  position: relative;
}